body {
    background-color: gray;
}

ul, li {
    text-align: center;
    display: inline;
}

.headimg {
    width: 200px;
    height:220px;
    padding-left: 40%;
}

h1 {
    text-align: center;
    background-color: black;
    color: darkred;
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid brown;
    padding: 30px;;
}

.starkimg{
    width: 150px;
    height: 150px;
    border: 1px solid blue;
}
caption{
    color: darkred;
}